<style>
    li {display:block;width:500px;height:333px;line-height:0}
    .images {width: 100%;height:100%}
</style>

<h1>Image List</h1>
<ul>
    <li><img class="images" src="" data-src="http://c4.staticflickr.com/2/1606/26544978251_2346128937.jpg"/></li>
    <li><img class="images" src="" data-src="http://c5.staticflickr.com/2/1546/26336577500_80b81b4559.jpg"/></li>
    <li><img class="images" src="" data-src="http://c4.staticflickr.com/2/1500/26547345491_760e758080.jpg"/></li>
    <li><img class="images" src="" data-src="http://c5.staticflickr.com/2/1577/26338813260_a32f052ebd.jpg"/></li>
    <li><img class="images" src="" data-src="http://c1.staticflickr.com/2/1470/26346745360_1c1a848ddf.jpg"/></li>
    <li><img class="images" src="" data-src="http://c1.staticflickr.com/2/1584/26586942336_cca95fdf13.jpg"/></li>
    <li><img class="images" src="" data-src="http://c3.staticflickr.com/2/1532/26005884994_00dddddf83.jpg"/></li>
    <li><img class="images" src="" data-src="http://c1.staticflickr.com/2/1644/26343455960_e0904d8c74.jpg"/></li>
    <li><img class="images" src="" data-src="http://c8.staticflickr.com/2/1479/26543161191_c6b4ec96f8.jpg"/></li>
    <li><img class="images" src="" data-src="http://c7.staticflickr.com/2/1575/26524380622_9a2466c437.jpg"/></li>
    <li><img class="images" src="" data-src="http://c5.staticflickr.com/2/1473/26582746356_48962d2365.jpg"/></li>
    <li><img class="images" src="" data-src="http://c1.staticflickr.com/2/1640/26524037272_3e5aa77a3a.jpg"/></li>
    <li><img class="images" src="" data-src="http://c5.staticflickr.com/2/1713/26351311180_6898783b9e.jpg"/></li>
    <li><img class="images" src="" data-src="http://c5.staticflickr.com/2/1629/26334281500_d072d26037.jpg"/></li>
    <li><img class="images" src="" data-src="http://c4.staticflickr.com/2/1498/26017176083_02e45b773c.jpg"/></li>
    <li><img class="images" src="" data-src="http://c1.staticflickr.com/2/1705/26007764864_a6d440bb98.jpg"/></li>
    <li><img class="images" src="" data-src="http://c3.staticflickr.com/2/1457/26516972962_52622315dd.jpg"/></li>
    <li><img class="images" src="" data-src="http://c5.staticflickr.com/2/1578/26340239980_c6417750ec.jpg"/></li>
    <li><div class="images" data-src="http://c8.staticflickr.com/2/1449/26011054543_0ded578180.jpg"></div></li>
    <li><div class="images" data-src="http://c5.staticflickr.com/2/1621/26582815116_ce43671c16.jpg"></div></li>
    <li><div class="images" data-src="http://c7.staticflickr.com/2/1694/26590515086_7d0229ece0.jpg"></div></li>
    <li><div class="images" data-src="http://c2.staticflickr.com/2/1533/26613784385_5c15a55da3.jpg"></div></li>
    <li><div class="images" data-src="http://c5.staticflickr.com/2/1570/26517285772_89f50f612b.jpg"></div></li>
    <li><div class="images" data-src="http://c8.staticflickr.com/2/1717/26017230503_793e87c0ed.jpg"></div></li>
    <li><div class="images" data-src="http://c7.staticflickr.com/2/1486/26519586942_a99e2afc7c.jpg"></div></li>
    <li><div class="images" data-src="http://c5.staticflickr.com/2/1585/26518635572_57a779b9e7.jpg"></div></li>
    <li><div class="images" data-src="http://c2.staticflickr.com/2/1472/26550225521_2973c658fc.jpg"></div></li>
    <li><div class="images" data-src="http://c2.staticflickr.com/2/1531/26617597265_df1f6bc4a3.jpg"></div></li>
    <li><div class="images" data-src="http://c2.staticflickr.com/2/1496/26011986633_dddcc9a166.jpg"></div></li>
    <li><div class="images" data-src="http://c2.staticflickr.com/2/1575/26611765265_bcf24970d2.jpg"></div></li>
    <li><div class="images" data-src="http://c4.staticflickr.com/2/1600/26002603883_d36ff933c0.jpg"></div></li>
    <li><div class="images" data-src="http://c3.staticflickr.com/2/1468/26588594506_6d43de8f6d.jpg"></div></li>
    <li><div class="images" data-src="http://c7.staticflickr.com/2/1560/26581965766_edbbb3550e.jpg"></div></li>
    <li><div class="images" data-src="http://c4.staticflickr.com/2/1491/26554127531_f74ba73e60.jpg"></div></li>
    <li><div class="images" data-src="http://c7.staticflickr.com/2/1596/26339161710_c9c27d6182.jpg"></div></li>
    <li><div class="images" data-src="http://c8.staticflickr.com/2/1626/26011351303_c1a4aafb74.jpg"></div></li>
</ul>
